<h2><%= @listing.title %></h2>
<h2><%# @listing.auction.name %></h2>

<% if @listing.item %>
<h3><%= link_to @listing.item.name, item_path(@listing.item) %></h3>


<h4>Description</h4>
<p><%= @listing.item.description %></p>
<% end%>
<h4>Current Bid: $<%=@listing.current_bid_amount%></h4><br><br>

<%= form_for(@bid) do |f| %>
<%= f.label :amount %>
<%= f.number_field :amount %>

<%= f.label :max_bid %>
<%= f.number_field :max_bid %>

<%= f.submit %>

<% end%>



<%= link_to "Edit Listing", edit_listing_path(@listing) %>

