<h2><%= @listing.title %></h2>
<h2><%# @listing.auction.name %></h2>

<% if @listing.item %>
<h3><%= link_to @listing.item.name, item_path(@listing.item) %></h3>


<h4>Description</h4>
<p><%= @listing.item.description %></p>
<% end%>

<h4>Current Bid: $<%=@listing.current_bid_amount%></h4><br><br>

<h3>Bid History:</h3><br><br>
<%= @listing.bids.each do |bid| %>
<p><%= link_to bid.buyer.name, user_path(bid.buyer.id) %>: <%= link_to number_to_currency(bid.amount), bid_path(bid) %></p>
<% end%>



<%= form_for([@listing, @bid]) do |f| %>
<%= f.label :amount %>
<%= f.number_field :amount, step: :any %>

<%= f.label :max_bid %>
<%= f.number_field :max_bid, step: :any  %>

<%= f.submit %>

<% end%>



<%= link_to "Edit Listing", edit_listing_path(@listing) %>

