<div class="section">
<h1><%= @listing.title %> (Status: <%= @listing.status %>)</h1>
<h2>Seller: <%= @listing.seller.username %></h2> 
<p><%= @listing.description %></p>

<!--<h4>Starting Bid: <%= number_to_currency(@listing.starting_bid) %></h4>-->
<h4>Current Bid: <%=number_to_currency(@listing.current_bid_amount)%> 
  <% unless @listing.reserve_met? %>
  (Reserve not met)
  <% end%>
  </h4>
  <% if @listing.active? %>
  <h3><%= render 'countdown' %></h3>
  <% end%>
</div>
<div class="section">
<% if @listing.bids.any? %>


<% if @listing.active? && (current_user == @listing.current_bid.buyer) %>
<h3 class="high-bidder-notice">You are currently the highest bidder!</h3>
<p>Your Bid: <%= number_to_currency(@listing.current_bid_amount) %></p><br>
<% end%>
<% end%>


<h3>Bid History:</h3>
<p>Starting Bid: <%= number_to_currency(@listing.starting_bid) %></p>
<ol>
<% @listing.bids.each do |bid| %>
<li><%= link_to bid.buyer.username, user_path(bid.buyer.id) %>: <%= link_to number_to_currency(bid.amount), bid_path(bid) %> (<%= bid.created_at %>)</li>
<% end%>
</ol>
<br><br>


<% if @listing.active? && (current_user != @listing.seller) %>
<h3>Bid on this item:</h3>

<%= form_for([@listing, @bid]) do |f| %>

<%= f.number_field :amount, step: :any %>

<%# f.label :max_bid %>
<%# f.number_field :max_bid, step: :any  %>

<%= f.submit %> <span>(Please enter a bid of <%= number_to_currency(@listing.next_valid_bid) %> or more)</span>
<% end%>
<% end%><br>



</div>

<div class="section">
<h3>Questions</h3>
<% unless current_user == @listing.seller %>
<%= form_for([@listing, @question]) do |f| %>

<%= f.label :question_text, "Ask the seller a question:" %><br>
<%= f.text_area :question_text %>

<%= f.submit "Submit Question"%>
<% end%>
<% end%>
<% if @listing.questions.any? %>
<ul id="q-and-a">
<% @listing.questions.each do |q|%>
<li><%= q.buyer.username%> asked:  <%= q.question_text %><br>   Seller answered: <%= q.answer %></li><br>
<% end%>
</ul>
<% end%>

</div>
<% if current_user == @listing.seller %>
<br><br>

<%= form_tag edit_listing_path(@listing.id), method: "get" do %>
<input type="submit" value="Edit Listing">
<% end%>


<%= form_tag listing_path(@listing.id), method: "delete" do %>
<input type="submit" value="Delete Listing">
<% end%>

<% end%>

