


<% unless @user.username == nil || @user.username == ""%>

<h1><%= @user.username %>'<%= @user.username[-1].downcase == "s" ? "" : "s" %> Dashboard</h1>

<p>Name: <%= @user.name %> 
<br>Email: <%= @user.email %></p>


<div class="row">

<div class="column" id="seller">
<h2>Seller</h2>
<% if @user.auctions.any? %>
<h3>Auctions</h3>
<ul>
<% @user.auctions.each do |auction| %>
<li><%= link_to auction.name, auction_path(auction) %></li>
<% end%>
</ul>
<% end%>


<% if @user.listings.any? %>
<h3>Listings</h3>
<ul>
<% @user.listings.each do |listing| %>
<li><%= link_to listing.title, listing_path(listing) %> <%if  listing.questions.unanswered.any?  %>-- (You have <%= link_to listing.questions.unanswered.count, question_path(listing.questions.unanswered.first) %> unanswered questions!)
<% end%></li>
<% end%>
</ul>
<% end%>

<%# if @user.items.any? %>
<!--<h3>Inventory</h3>-->
<%# @user.items.each do |item| %>
<%# link_to item.name, item_path(item) %>
<%# end%>
<%# end%>

<br><br>
<form action="/auctions/new" method="get">
    <input type="submit" value="Create Auction">
</form>
<form action="/listings/new" method="get">
    <input type="submit" value="Create Listing">
</form><br><br>
</div>
<div class="column" id="buyer">
<h2>Buyer</h2>
<% if @user.bids.any? %>
<h3>Listings (Buyer)</h3>
<ul>
<% @user.bids.uniq {|bid| bid.listing}.each do |bid| %>
<li><%= link_to bid.listing.title, listing_path(bid.listing) %><%= bid.dashboard_display %></li>
<% end%>
</ul>
<% end%>


<% if @user.questions.any? %>
<h3>Questions</h3>
<ul>
<% @user.questions.each do |question| %>
<% unless question.listing.active = false %>
<li><%= link_to question.listing.title, listing_path(question.listing) %>--<%= question.answer ? "Your question has been answered!" : "Your question has not been answered yet."%></li>
<% end%>
<% end%>
</ul>
<% end%>
</div>
</div>

<% else%>
<h2>Please create a username to continue (this is what will be visible to other users)</h2>
<%= form_for(@user) do |f| %>
<%= f.label :username  %>
<%= f.text_field :username %><br><br>
<%= f.submit "Create Username" %>
<% end%>
<% end%>


