<!DOCTYPE html>
<html>
  <head>
    <title>ActiveAuction</title>
    <link rel="stylesheet" href="assets/style.css" type="text/css" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="page-container">
      <div id="sub-page-container">
  <header id="header">
  <div id="banner">
        <img src="assets/logo2.png" class="logo" alt="Auction Logo">
  </div>
  <div id="navLinks">
      <% if user_signed_in? %>
      <% unless request.path.include?('search')%>
        <a href="/search">Search</a>
        <% end%>
        <% unless request.path.include?('dashboard')%>
        <a href="/dashboard">My Dashboard</a>
        <% end%>
        <a href="/sign_out">Sign Out</a>
      <% end %>

  </div>
  
  </header>
   <div id="content-wrap">
       <div id="flash-wrap">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </div>
    <%= yield %>
    </div>
    <footer id="footer">&#169;2020 Seth Near</footer>
    </div>
  </div>
  </body>
</html>
