<!DOCTYPE html>
<html>
  <head>
    <title>ActiveAuction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
    <% if user_signed_in? %>
    <% unless params[:action] == 'dashboard' %>
    <br><br><%= link_to "My Dashboard", '/dashboard' %><br><br>
    <% end%>
    <%= link_to "Sign Out", destroy_user_session_path %>
    <% end%>
  </body>
</html>
